// VARIABLE
.tlt-header
	font-family 'Exo 2', sans-serif
	color $google-green

.col
	text-align center
	.header-title
		@extend .tlt-header
		display inline-block
		font-size 2.4rem

	.header-text
		display block
		line-height 1.66
		font-size 1rem
		font-weight 100
		color #000
		.anchor
			font-style italic
			text-transform uppercase





	// .partners-title
	// 	@extend .tlt-header
	// 	font-size 1.8rem

.main-header
	position relative
	img
		width 100%

	.vertical
		color #fff
		transform rotate(90deg)
		position absolute
		top 25vw
		left 0

		span
			font-size: 2em
